/composer.lock

/config/autoload/*.local.php
/config/development.config.php
/config/services/*.dev.yaml

/vendor
/var/cache/*
!/var/cache/.gitkeep
/var/log/*
!/var/log/.gitkeep

/.idea
/.phpunit.result.cache

/modules
